[Desktop Entry]
Type=Application
Name=AT-SPI Registry Wrapper
Name[ar]=غلاف تسجيل AT-SPI
Name[ast]=Endolcu de rexistru AT SPI
Name[bg]=Обвивка на регистъра на AT-SPI
Name[ca]=Embolcall del servei de registre de l'accessibilitat (AT-SPI)
Name[cs]=Objekt registru AT-SPI
Name[da]=AT-SPI-registeromslag
Name[de]=AT-SPI-Registrationseinbindung
Name[el]=AT-SPI Registry Wrapper
Name[en_GB]=AT-SPI Registry Wrapper
Name[es]=Envolvente de registro AT SPI
Name[et]=AT-SPI registrimähkur
Name[eu]=AT SPI erregistroaren bildukia
Name[fi]=AT-SPI-rekisterikäärin
Name[fr]=Wrapper de registre AT-SPI
Name[gl]=Wrapper do rexistro AT-SPI
Name[gu]=AT SPI રજીસ્ટરી રૅપર
Name[he]=עוטף רישום AT SPI
Name[hu]=AT-SPI nyilvántartás-átalakító
Name[id]=Pembungkus Registri AT-SPI
Name[it]=Adattatore registro AT-SPI
Name[ja]=AT-SPI レジストラのラッパー
Name[kk]=AT-SPI Registry Wrapper
Name[ko]=AT-SPI 레지스트리 래퍼
Name[lt]=AT SPI registro sąsaja
Name[lv]=AT-SPI reģistra ietinums
Name[nb]=AT SPI register wrapper
Name[or]=AT-SPI ପଞ୍ଜିକରଣ ଆବରଣ
Name[pa]=AT-SPI ਰਜਿਸਟਰੀ ਰੈਪਰ
Name[pl]=Wrapper rejestru AT-SPI
Name[pt]=Invólucro do Registo do AT-SPI
Name[pt_BR]=Wrapper de registro AT-SPI
Name[ro]=Wrapper al registrului AT-SPI
Name[ru]=Оболочка реестра AT-SPI
Name[sk]=Obaľovač AT-SPI registra
Name[sl]=Ovijalnik vpisnika AT-SPI
Name[sr]=Омотач AT-SPI регистра
Name[sr@latin]=Omotač AT-SPI registra
Name[sv]=Omslag för AT SPI-register
Name[ta]=AT-SPI தொகுபதிவக உறை
Name[th]=โปรแกรมครอบเรจิสตรี AT-SPI
Name[ug]=AT-SPI رويخەت تۈرى
Name[zh_CN]=AT-SPI 注册表包装器
Name[zh_HK]=AT-SPI 註冊表包裹器
Name[zh_TW]=AT-SPI 註冊表包裹器
Exec=/usr/lib/at-spi/at-spi-registryd
OnlyShowIn=MATE;
AutostartCondition=MATE /desktop/mate/interface/accessibility
X-MATE-Autostart-Phase=Initialization
X-MATE-AutoRestart=true
