[Desktop Entry]
Name=MATE On-Screen Keyboard
Name[ar]=لوحة مفاتيح الشاشة لجنوم
Name[ast]=Tecláu en pantalla de MATE
Name[bg]=Екранна клавиатура на MATE
Name[ca]=Teclat en pantalla del MATE
Name[cs]=Klávesnice na obrazovce MATE
Name[da]=MATE-skærmtastatur
Name[de]=MATE Bildschirmtastatur
Name[el]=Πληκτρολόγιο οθόνης MATE
Name[en_GB]=MATE On-screen Keyboard
Name[eo]=Surekrana klavaro de Mate
Name[es]=Teclado en pantalla de MATE
Name[et]=MATE ekraaniklaviatuur
Name[eu]=MATEren pantailako teklatua
Name[fi]=Maten näyttönäppäimistö
Name[fr]=Clavier visuel MATE
Name[fy]=MATE Kaaiboerd-op-it-Skerm
Name[gl]=Teclado en pantalla de MATE
Name[gu]=MATE ઓન-સ્ક્રીન કિબોર્ડ
Name[he]=מקלדת על המסך של MATE
Name[hu]=MATE képernyő-billentyűzet
Name[id]=Papan Tik On-Screen MATE
Name[it]=Tastiera a schermo di MATE
Name[ja]=MATE オンスクリーン・キーボード
Name[kk]=MATE экрандағы пернетақта
Name[ko]=그놈 화면 키보드
Name[lt]=MATE klaviatūra ekrane
Name[lv]=MATE ekrāna tastatūra
Name[nb]=MATE tastatur på skjermen
Name[or]=MATE ଅନସ୍କ୍ରିନ କି ବୋର୍ଡ
Name[pa]=ਗਨੋਮ ਆਨ-ਸਕਰੀਨ ਕੀਬੋਰਡ
Name[pl]=Klawiatura ekranowa MATE
Name[pt]=Teclado no Ecrã do MATE
Name[pt_BR]=Teclado virtual do MATE
Name[ro]=Tastatură pe ecran MATE
Name[ru]=Экранная клавиатура MATE
Name[sk]=Klávesnica na obrazovke MATE
Name[sl]=Zaslonska tipkovnica MATE
Name[sr]=Гномова тастатура на екрану
Name[sr@latin]=Gnomova tastatura na ekranu
Name[sv]=MATE Skärmtangentbord
Name[ta]=MATE திரை விசைப்பலகை
Name[th]=แป้นพิมพ์บนจอของ MATE
Name[ug]=MATE ئېكران ھەرپتاختا
Name[zh_CN]=MATE 屏幕键盘
Name[zh_HK]=MATE 螢幕鍵盤
Name[zh_TW]=MATE 螢幕鍵盤
Comment=Use an on-screen keyboard
Comment[ar]=استخدم لوحة مفاتيح الشاشة
Comment[ast]=Usar un tecláu en pantalla
Comment[bg]=Включване на екранната клавиатура
Comment[ca]=Utilitzeu un teclat en pantalla
Comment[cs]=Použije klávesnici na obrazovce
Comment[da]=Brug et skærmtastatur
Comment[de]=Tastatur auf dem Bildschirm verwenden
Comment[el]=Ενεργοποίηση πληκτρολογίου οθόνης
Comment[en_GB]=Use an on-screen keyboard
Comment[eo]=Uzi surekranan klavaron
Comment[es]=Usar un teclado en pantalla
Comment[et]=Ekraaniklaviatuuri kasutamine
Comment[eu]=Erabili pantailako teklatua
Comment[fi]=Näytä näppäimistö näytöllä
Comment[fr]=Utilise un clavier affiché à l'écran
Comment[fy]=Brûk in kaaiboerd-op-it-skerm
Comment[gl]=Usar un teclado en pantalla
Comment[gu]=ઓન-સ્ક્રીન કિબોર્ડ ને વાપરો
Comment[he]=שימוש במקלדת על המסך
Comment[hu]=Képernyő-billentyűzet használata
Comment[id]=Gunakan papan tik pada layar
Comment[it]=Usa una tastiera a schermo
Comment[ja]=オンスクリーン・キーボードを使用
Comment[kk]=Экрандағы пернетақтаны қолдану
Comment[ko]=화면 키보드 사용
Comment[lt]=Naudoti klaviatūrą ekrane
Comment[lv]=Izmantot ekrāna tastatūru
Comment[nb]=Bruk tastatur på skjermen
Comment[or]=ଗୋଟିଏ ଅନସ୍କ୍ରିନ କି ବୋର୍ଡ ବ୍ୟବହାର କରନ୍ତୁ
Comment[pa]=ਆਨ-ਸਕਰੀਨ ਕੀ-ਬੋਰਡ ਵਰਤੋਂ
Comment[pl]=Użycie klawiatury ekranowej
Comment[pt]=Utilizar um teclado no ecrã
Comment[pt_BR]=Usar um teclado virtual
Comment[ro]=Utilizează o tastatură pe ecran
Comment[ru]=Использовать экранную клавиатуру
Comment[sk]=Použiť klávesnicu na obrazovke
Comment[sl]=Uporabi zaslonsko _tipkovnico
Comment[sr]=Прикажи тастатуру на екрану
Comment[sr@latin]=Prikaži tastaturu na ekranu
Comment[sv]=Använd ett skärmtangentbord
Comment[ta]=திரை விசைப்பலகையை பயன்படுத்தவும்
Comment[th]=ใช้แป้นพิมพ์บนจอ
Comment[ug]=ئېكران ھەرپتاختىسىنى ئىشلىتىدۇ
Comment[zh_CN]=使用屏幕键盘
Comment[zh_HK]=使用顯示在螢幕上的鍵盤
Comment[zh_TW]=使用顯示在螢幕上的鍵盤
TryExec=gok
Exec=gok --login --access-method=directselection
Terminal=false
Type=Application
StartupNotify=true
Categories=MATE;GTK;Accessibility;
AutostartCondition=MATE /desktop/mate/applications/at/screen_keyboard_enabled
X-MATE-Provides=screen-keyboard
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=gok
X-MATE-Bugzilla-Component=general
