[Desktop Entry]
Type=Application
Name=MATE Settings Daemon
Name[ar]=عفريت إعدادات جنوم
Name[as]=MATE পছন্দৰ ডেমন
Name[ast]=Degorriu d'axustes de MATE
Name[be]=Дэман настаўленняў MATE
Name[be@latin]=Deman naładaŭ MATE
Name[bg]=Демон за настройките на MATE
Name[bn]=MATE বৈশিষ্ট্য সংক্রান্ত ডেমন
Name[bn_IN]=MATE বৈশিষ্ট্য সংক্রান্ত ডেমন
Name[br]=Gwazerezh arventennoù MATE
Name[ca]=Dimoni dels paràmetres del MATE
Name[ca@valencia]=Dimoni dels paràmetres del MATE
Name[crh]=MATE Tesbitleri Cını
Name[cs]=Démon nastavení MATE
Name[da]=MATE-indstillingsdæmon
Name[de]=MATE Verwaltungsdienst
Name[el]=Ρυθμίσεις MATE λειτουργία υπόβαθρου
Name[en@shaw]=·𐑜𐑯𐑴𐑥 𐑕𐑧𐑑𐑦𐑙𐑟 𐑛𐑰𐑥𐑩𐑯
Name[en_GB]=MATE Settings Daemon
Name[eo]=Demono de MATE-agordoj
Name[es]=Administrador de preferencias de MATE
Name[et]=MATE sätetedeemon
Name[eu]=MATEren ezarpenen daemon-a
Name[fi]=Maten asetuspalvelin
Name[fr]=Service des paramètres MATE
Name[fy]=MATE Ynstellingsdaemon
Name[ga]=Deamhan Socruithe MATE
Name[gl]=Daemon de configuracións do MATE
Name[gu]=MATE સુયોજનાઓ ડેઇમોન
Name[gv]=MATE Reighyn Jouyl
Name[he]=מנוע ההגדרות של MATE
Name[hi]=MATE सेटिंग डेमॉन
Name[hu]=MATE beállításdémon
Name[id]=Daemon Pengaturan MATE
Name[it]=Demone impostazioni di MATE
Name[ja]=MATE 設定デーモン
Name[kk]=MATE баптаулар қызметі
Name[kn]=MATE ಸಿದ್ಧತೆಗಳ ಡೀಮನ್
Name[ko]=그놈 설정 데몬
Name[lt]=MATE nustatymų tarnyba
Name[lv]=MATE iestatījumu dēmons
Name[mai]=MATE सेटिंग डेमान
Name[mk]=Демон за поставувања на MATE
Name[ml]=ഗ്നോം ക്രമീകരണ ഡെമണ്‍
Name[mr]=MATE संयोजना डीमन
Name[nb]=Tjeneste for innstillinger
Name[nds]=MATE Instellen daemon
Name[nl]=Mate instellingenservice
Name[nn]=MATE innstillingsnisse
Name[oc]=Servici dels paramètres MATE
Name[or]=MATE ବିନ୍ୟାସ ଡେମନ
Name[pa]=ਗਨੋਮ ਸੈਟਿੰਗ ਡੈਮਨ
Name[pl]=Usługa ustawień MATE
Name[pt]=Daemon de Definições do MATE
Name[pt_BR]=Serviço de configurações do MATE
Name[ro]=Demon al preferințelor MATE
Name[ru]=Служба настроек среды MATE
Name[sk]=Démon nastavení MATE
Name[sl]=Ozadnji program MATE nastavitev
Name[sq]=Administratori i rregullimeve të MATE
Name[sr]=Демон подешавања Гнома
Name[sr@latin]=Demon podešavanja Gnoma
Name[sv]=MATE-inställningsdemon
Name[ta]=MATE அமைவுகள் டீமான்
Name[te]=MATE అమర్పుల డెమోన్
Name[th]=ดีมอนค่าตั้ง MATE
Name[tr]=MATE Ayarlar Servisi
Name[ug]=MATE تەڭشەك نازارەتچىسى
Name[uk]=Даемон налаштування MATE
Name[vi]=Trình Thiết lập MATE
Name[zh_CN]=MATE 设置守护程序
Name[zh_HK]=MATE 設定值伺服程式
Name[zh_TW]=MATE 設定值伺服程式
TryExec=/usr/lib/mate-settings-daemon/mate-settings-daemon
Exec=/usr/lib/mate-settings-daemon/mate-settings-daemon --mateconf-prefix=/apps/mdm/simple-greeter/settings-manager-plugins
OnlyShowIn=MATE;
X-MATE-Autostart-Phase=Initialization
X-MATE-Autostart-Notify=true
X-MATE-AutoRestart=true
