[Desktop Entry]
Type=Application
Name=PolicyKit Authentication Agent
Name[ar]=عميل استيثاق PolicyKit
Name[as]=প্ৰমাণীকৰণৰ সম্বাদ
Name[ast]=Axente d'autenticación PolicyKit
Name[be]=Агент аўтэнтыфікацыі PolicyKit
Name[bg]=Агент за идентификация на PolicyKit
Name[bn]=PolicyKit অনুমোদনের এজেন্ট
Name[bn_IN]=PolicyKit অনুমোদনের এজেন্ট
Name[br]=Gwezhour dilesa PolicyKit
Name[ca]=Agent d'autenticació del PolicyKit
Name[ca@valencia]=Agent d'autenticació del PolicyKit
Name[crh]=PolicyKit Sahihlenme Faili
Name[cs]=Ověřovací agent PolicyKit
Name[da]=PolicyKit-autentificeringsagent
Name[de]=Legitimationsdienst von PolicyKit
Name[el]=Agent πιστοποίησης PolicyKit
Name[en_GB]=PolicyKit Authentication Agent
Name[eo]=Aŭtentig-agento de PolicyKit
Name[es]=Agente de autenticación de PolicyKit
Name[et]=PolicyKit autentimisagent
Name[eu]=PolicyKit autentifikazio agentea
Name[fi]=PolicyKit-todennusagentti
Name[fr]=Agent d'authentification de PolicyKit
Name[fy]=PolicyKit Ferifikaasjeagint
Name[gl]=Axente de autenticación de PolicyKit
Name[gu]=PolicyKit Authentication Agent
Name[gv]=Poageypolaaseyn Obbree Firrinaghey
Name[he]=סוכן אימות של PolicyKit
Name[hi]=PolicyKit सत्यापन प्रतिनिधि
Name[hu]=PolicyKit hitelesítési ügynök
Name[id]=Agen Otentikasi PolicyKit
Name[it]=Agente di autenticazione di PolicyKit
Name[ja]=PolicyKit 認証エージェント
Name[kk]=PolicyKit аутентификация агенті
Name[kn]=PolicyKit ದೃಢೀಕರಣ ಮಧ್ಯವರ್ತಿ
Name[ko]=PolicyKit 인증 서버
Name[lt]=PolicyKit tapatybės patvirtinimo agentas
Name[lv]=PolicyKit autentifikācijas aģents
Name[mai]=PolicyKit सत्यापन प्रतिनिधि
Name[mg]=Agent d'authentification de PolicyKit
Name[ml]=പോളിസിക്കിറ്റ് ഓഥന്റിക്കേഷന്‍ ഏജന്റ്
Name[mr]=PolicyKit ऑथेंटीकेशन एजेंट
Name[nb]=PolicyKit autentiseringsagent
Name[nl]=PolicyKit authenticatie
Name[nn]=PolicyKit autentiseringsagent
Name[oc]=Agent d'autentificacion de PolicyKit
Name[or]=PolicyKit ବୈଧିକରଣ ସଦସ୍ୟ
Name[pa]=ਪਾਲਸੀਕਿੱਟ ਪ੍ਰਮਾਣਿਕਤਾ ਏਜੰਟ
Name[pl]=Agent uwierzytelniania PolicyKit
Name[pt]=Agente de Autenticação PolicyKit
Name[pt_BR]=Agente de autenticação PolicyKit
Name[ro]=Agent de autentificare PolicyKit
Name[ru]=Диалог аутентификации PolicyKit
Name[sk]=Agent overovania totožnosti PolicyKit
Name[sl]=Pogovorno okno pooblastitve
Name[sr]=PolicyKit агент за пријаве
Name[sr@latin]=PolicyKit agent za prijave
Name[sv]=Autentiseringsagenten PolicyKit
Name[ta]=PolicyKit அங்கீகார முகவர்
Name[te]=పాలసీకిట్ దృవీకరణ ప్రతినిది
Name[th]=เครื่องมือยืนยันตัวบุคคลของ PolicyKit
Name[tr]=PolicyKit Kimlik Doğrulama Aracı
Name[ug]=PolicyKit  دەلىللەش پروگراممىسى
Name[uk]=Агент автентифікації PolicyKit
Name[vi]=Tác nhân Xác thực PolicyKit
Name[zh_CN]=PolicyKit 的认证代理
Name[zh_HK]=PolicyKit 驗證代理程式
Name[zh_TW]=PolicyKit 驗證代理程式
Exec=/usr/lib/policykit-1-mate/polkit-mate-authentication-agent-1
OnlyShowIn=MATE;
