[Desktop Entry]
Name=Login Screen
Comment=Configure login screen behavior
Exec=mdmsetup
Icon=mdm-setup
StartupNotify=true
Terminal=false
Type=Application
Categories=MATE;GTK;Settings;System;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mdm
X-MATE-Bugzilla-Component=general
